fastapi
uvicorn
pydantic
requests
python-dotenv
groq
firebase-admin
beautifulsoup4
aiohttp
python-multipart
numpy
pytz
duckduckgo_search
slowapi
opencv-python-headless
Pillow
pillow-heif
pypdf
pymupdf
PyJWT
