.appContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.sidebarWrapper {
  transition: width 0.3s ease, transform 0.3s ease;
  width: var(--sidebar-width);
}

.sidebarWrapper.collapsed {
  width: 0;
  transform: translateX(-100%);
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: margin-left 0.3s ease;
}
